{{#if Success}}
<div class="alert alert-info">
    {{Success}}
</div>
{{/if}}

{{#if Error}}
<div class="alert alert-info">
    {{Error}}
</div>
{{/if}}

{{#if success}}
<div class="alert alert-info">
    {{success}}
</div>
{{/if}}

{{#if error}}
<div class="alert alert-info">
    {{error}}
</div>
{{/if}}